h1{
    color: red;
    background-color: blue;
    font-size: 3rem;
}
p{
    font-size: xx-small;
    font-weight: bolder;
    color: yellow;
    background-color: red;
}
h3{
    margin: 50px;
    padding: 50px;
}